<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SocialContact</display-name>
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
  </welcome-file-list>

<servlet>
<servlet-name>adminLogin</servlet-name>
<servlet-class>com.servlets.AdminLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>adminLogin</servlet-name>
<url-pattern>/aLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>userLogin</servlet-name>
<servlet-class>com.servlets.UserLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>userLogin</servlet-name>
<url-pattern>/uLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>userReg</servlet-name>
<servlet-class>com.servlets.UserRegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>userReg</servlet-name>
<url-pattern>/uRegister</url-pattern>
</servlet-mapping>




</web-app>